/* index.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding-top: 70px;
    overflow-x: hidden;
}

/* Navbar styles */
.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-link {
    font-size: 1.2em;
}

.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* adjust the z-index as needed */
}
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Autocomplete styles */
.autocomplete-container {
    position: relative;
}

.autocomplete-suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    max-width: 220px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 1050;
    top: calc(100%); /* Adjust the distance from the search input field */
    left: 0;
    display: none;
}

.autocomplete-suggestion {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-suggestion:hover {
    background-color: #f0f0f0;
}

/* Custom styles for login and signup forms */
.auth-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.auth-form .form-group {
    margin-bottom: 20px;
}

.auth-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.auth-form input[type="text"],
.auth-form input[type="email"],
.auth-form input[type="password"],
.auth-form textarea,
.auth-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
}

.auth-form button[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.auth-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.auth-form .text-center {
    margin-top: 10px;
}

.auth-form .text-center a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.auth-form .text-center a:hover {
    color: #0056b3;
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    background-color: #fff;
    border-right: 1px solid #dee2e6;
    height: 100%;
    overflow-y: hidden;
}

.sidebar-heading {
    padding: 0.75rem 1.25rem;
    font-weight: bold;
    padding-top: 70px;
}

.sidebar-item {
    padding: 0.5rem 1.5rem;
    font-size: 1.1em;
    color: #333;
}

#sidebar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Make scrollbar transparent */
}

/* Book card styles */
.book-card {
    margin-bottom: 20px;
}

.book-card img {
    width: 100%;
    height: auto;
}

.book-card-title {
    font-weight: bold;
}

.book-card-price {
    color: #007bff; /* Blue color for price */
}

.book-card-rating {
    color: #28a745; /* Green color for ratings */
}

.cover-image {
    width: 100%;
    height: 300px; /* Adjust height as needed */
    object-fit: cover;
}


